.menu-icon {
  background: #eee;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: 999;
  border: 1px solid #999;
  @include min-breakpoint($mobile){
    display: none;
  }
  &::after {
    content: 'Menu';
  }
}
.menu-icon.menu-active{
  position: fixed;
  top: 3px;
  left: 5px;
  &::after {
    content: 'Close';
  }
}


.menu.menu-active {
  @include breakpoint($mobile) {
    transition: all 300ms;
    transform: translateX(200px);
    border: none;
    box-shadow: none;
  }
}


.content.menu-active {
  transition: all 300ms;
  @include breakpoint($mobile) {
    transition: all 300ms;
    transform: translateX(200px);
  }
}

.menu{
  padding: 0px 0 5px 5px;
  //border-radius: 5px;
  //border-top: 1px solid $border-light-blue;
  //border-right: 1px solid $border-light-blue;
  //border-bottom: 1px solid $border-light-blue;

  @include breakpoint($mobile) {

  }

  a {
    //color: $menu-link-color;
    //padding: 0px 5px 5px 5px;
    //display: inline-block;
  }

  .level1 {
    a {
      &:hover {
        color: $orange !important;
      }
    }
    > li > a {
      color: #444;
      padding: 0px 5px 5px 5px;
      display: inline-block;
      &:visited {
        color: #444;
      }
    }
    font-size: 13px;
    font-weight: bold;
    color: #333;
    font-family: Verdana, Arial, sans-serif;
  }
  .level2, .level3 {
    padding-left: 10px;
    font-weight: normal;
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    > li > a {
      color: #555;
      padding: 5px 0;
      display: inline-block;
      &:visited {
        color: #555;
      }
    }

  }
  .level2 a::before, .level3 a::before{
    content: "» ";
    color: black;
    font-weight: bold;
  }

}

.menu .norm {
  display: inline-block;
  font-size: 7px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5)
}

.login, .login-popup {
  min-height: 107px;
  padding-top: 5px;
  .login-box {
    background: #fff;
    padding: 10px 20px 10px 20px;
    text-align: center;
    letter-spacing: 1px;
    position: relative;

    >div {
      font-size: 12px;
      margin-bottom: 5px;
      a {
        color: #666;
        text-decoration: none;
        &:visited {
          color: #666;
        }
      }
    }
  }
  .login-box h2 {
    //margin: 20px 0 20px;
    padding: 0;
    text-transform: uppercase;
    color: #4688F1;
    font-size: 1em;
  }

  .social-button {
    font-size: 10px;
    font-weight: bold;
    background-position: 25px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    border-radius: 3px;
    margin: 3px auto;
    outline: rgb(255, 255, 255) none 0px;
    padding-left: 20%;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  #facebook-connect {
    background: rgb(255, 255, 255) url('/assets/images/facebook.svg') no-repeat scroll 5px 0px / 25px 25px padding-box border-box;
    border: 1px solid rgb(60, 90, 154);
  }

  #facebook-connect:hover {
    border-color: rgb(60, 90, 154);
    background: rgb(60, 90, 154) url('/assets/images/facebook-white.svg') no-repeat scroll 5px 0px / 25px 25px padding-box border-box;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
  }

  #facebook-connect span {
    box-sizing: border-box;
    color: rgb(60, 90, 154);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  #facebook-connect:hover span {
    color: #FFF;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  #google-connect {
    background: rgb(255, 255, 255) url('/assets/images/google-plus.png') no-repeat scroll 8px 0px / 30px 25px padding-box border-box;
    border: 1px solid rgb(220, 74, 61);
  }

  #google-connect:hover {
    border-color: rgb(220, 74, 61);
    background: rgb(220, 74, 61) url('/assets/images/google-plus-white.png') no-repeat scroll 8px 0px / 30px 25px padding-box border-box;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
  }

  #google-connect span {
    box-sizing: border-box;
    color: rgb(220, 74, 61);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(220, 74, 61);
    outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  #google-connect:hover span {
    color: #FFF;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

}

.list-menu {
  margin-top: 10px;
}

.userInfo {
  .top{
    width: 100%;
    height: 70px;
    position: relative;
    .left {
      margin: 5px;
      padding: 5px;
      width: 60px;
      height: 60px;
      position: absolute;
      border: 1px solid #ddd;
    }
    .right {
      padding: 5px;
      padding-left: span(70px static wide);
      text-align: center;
      div {
        font-style: italic;
        font-weight: lighter;
        color: #666;
      }
      span {
        font-weight: bold;
        color: $blue;
      }
    }
  }
  .bot {
    width: 100%;
    height: 37px;
    text-align: right;
    font-weight: bold;
    padding: 10px;
    text-decoration: underline;
  }
  a {
    text-decoration: none;
    color: #333;
    &:visited {
      color: #333;
    }
    &:hover {
      color: $orange;
    }
  }
}