.side {
  padding: 0 5px 0 5px;
}



.search-field-container{ position: relative; }

.search-field{ width: 100%; position: absolute; right: 0; top: 0;  }


.search-field-container{ display: block; float: left; width: 100%; height: 35px; }
.search-form{ max-width: 300px; margin: 10px auto 20px auto; }

.search-field{ background-color: #fff; font-size: 14px; padding: 8px; border: 1px solid #ccc; outline: none; -moz-border-radius: 4px; border-radius: 4px; }


.menubar {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 2px 2px 0 2px;
  border-radius: 10px 0 10px 0;
  background: $orange;
  border-bottom: 2px solid $orange;
  text-align: center;
}

.side-article {
  word-wrap: break-word;
  a {
    color: #666;
    font-weight: bolder;
    font-size: 12px;
    &:hover {
      color: $orange;
    }
  }
}

ul.side-article {
  list-style: circle;
  padding-left: 15px;
  li {
    margin: 5px 0;
    border-bottom: 1px dashed rgba(100, 100, 100, 0.5);
    padding-bottom: 5px;
  }
}