@charset "UTF-8";
/***

   colors.css v2.0.0
   http://clrs.cc
   @mrmrs
   MIT License

***/
/*

   SKINS
   - Backgrounds
   - Colors
   - Border colors
   - SVG fills
   - SVG Strokes

*/
/* Backgrounds */
.bg-navy {
  background-color: #001F3F; ***REMOVED***

.bg-blue {
  background-color: #0074D9; ***REMOVED***

.bg-aqua {
  background-color: #7FDBFF; ***REMOVED***

.bg-teal {
  background-color: #39CCCC; ***REMOVED***

.bg-olive {
  background-color: #3D9970; ***REMOVED***

.bg-green {
  background-color: #2ECC40; ***REMOVED***

.bg-lime {
  background-color: #01FF70; ***REMOVED***

.bg-yellow {
  background-color: #FFDC00; ***REMOVED***

.bg-orange {
  background-color: #FF851B; ***REMOVED***

.bg-red {
  background-color: #FF4136; ***REMOVED***

.bg-fuchsia {
  background-color: #F012BE; ***REMOVED***

.bg-purple {
  background-color: #B10DC9; ***REMOVED***

.bg-maroon {
  background-color: #85144B; ***REMOVED***

.bg-white {
  background-color: #fff; ***REMOVED***

.bg-gray {
  background-color: #aaa; ***REMOVED***

.bg-silver {
  background-color: #ddd; ***REMOVED***

.bg-black {
  background-color: #111; ***REMOVED***

/* Colors */
.navy {
  color: #001F3F; ***REMOVED***

.blue {
  color: #0074D9; ***REMOVED***

.aqua {
  color: #7FDBFF; ***REMOVED***

.teal {
  color: #39CCCC; ***REMOVED***

.olive {
  color: #3D9970; ***REMOVED***

.green {
  color: #2ECC40; ***REMOVED***

.lime {
  color: #01FF70; ***REMOVED***

.yellow {
  color: #FFDC00; ***REMOVED***

.orange {
  color: #FF851B; ***REMOVED***

.red {
  color: #FF4136; ***REMOVED***

.fuchsia {
  color: #F012BE; ***REMOVED***

.purple {
  color: #B10DC9; ***REMOVED***

.maroon {
  color: #85144B; ***REMOVED***

.white {
  color: #fff; ***REMOVED***

.silver {
  color: #ddd; ***REMOVED***

.gray {
  color: #aaa; ***REMOVED***

.black {
  color: #111; ***REMOVED***

/* Border colors 

   Use with another border utility that sets border-width and style 
   i.e .border { border-width: 1px; border-style: solid; ***REMOVED***     
*/
.border--navy {
  border-color: #001F3F; ***REMOVED***

.border--blue {
  border-color: #0074D9; ***REMOVED***

.border--aqua {
  border-color: #7FDBFF; ***REMOVED***

.border--teal {
  border-color: #39CCCC; ***REMOVED***

.border--olive {
  border-color: #3D9970; ***REMOVED***

.border--green {
  border-color: #2ECC40; ***REMOVED***

.border--lime {
  border-color: #01FF70; ***REMOVED***

.border--yellow {
  border-color: #FFDC00; ***REMOVED***

.border--orange {
  border-color: #FF851B; ***REMOVED***

.border--red {
  border-color: #FF4136; ***REMOVED***

.border--fuchsia {
  border-color: #F012BE; ***REMOVED***

.border--purple {
  border-color: #B10DC9; ***REMOVED***

.border--maroon {
  border-color: #85144B; ***REMOVED***

.border--white {
  border-color: #fff; ***REMOVED***

.border--gray {
  border-color: #aaa; ***REMOVED***

.border--silver {
  border-color: #ddd; ***REMOVED***

.border--black {
  border-color: #111; ***REMOVED***

/* Fills for SVG */
.fill-navy {
  fill: #001F3F; ***REMOVED***

.fill-blue {
  fill: #0074D9; ***REMOVED***

.fill-aqua {
  fill: #7FDBFF; ***REMOVED***

.fill-teal {
  fill: #39CCCC; ***REMOVED***

.fill-olive {
  fill: #3D9970; ***REMOVED***

.fill-green {
  fill: #2ECC40; ***REMOVED***

.fill-lime {
  fill: #01FF70; ***REMOVED***

.fill-yellow {
  fill: #FFDC00; ***REMOVED***

.fill-orange {
  fill: #FF851B; ***REMOVED***

.fill-red {
  fill: #FF4136; ***REMOVED***

.fill-fuchsia {
  fill: #F012BE; ***REMOVED***

.fill-purple {
  fill: #B10DC9; ***REMOVED***

.fill-maroon {
  fill: #85144B; ***REMOVED***

.fill-white {
  fill: #fff; ***REMOVED***

.fill-gray {
  fill: #aaa; ***REMOVED***

.fill-silver {
  fill: #ddd; ***REMOVED***

.fill-black {
  fill: #111; ***REMOVED***

/* Strokes for SVG */
.stroke-navy {
  stroke: #001F3F; ***REMOVED***

.stroke-blue {
  stroke: #0074D9; ***REMOVED***

.stroke-aqua {
  stroke: #7FDBFF; ***REMOVED***

.stroke-teal {
  stroke: #39CCCC; ***REMOVED***

.stroke-olive {
  stroke: #3D9970; ***REMOVED***

.stroke-green {
  stroke: #2ECC40; ***REMOVED***

.stroke-lime {
  stroke: #01FF70; ***REMOVED***

.stroke-yellow {
  stroke: #FFDC00; ***REMOVED***

.stroke-orange {
  stroke: #FF851B; ***REMOVED***

.stroke-red {
  stroke: #FF4136; ***REMOVED***

.stroke-fuchsia {
  stroke: #F012BE; ***REMOVED***

.stroke-purple {
  stroke: #B10DC9; ***REMOVED***

.stroke-maroon {
  stroke: #85144B; ***REMOVED***

.stroke-white {
  stroke: #fff; ***REMOVED***

.stroke-gray {
  stroke: #aaa; ***REMOVED***

.stroke-silver {
  stroke: #ddd; ***REMOVED***

.stroke-black {
  stroke: #111; ***REMOVED***

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3; ***REMOVED***

ul {
  list-style: none;
  margin: 0;
  padding: 0; ***REMOVED***

ul li {
  margin: 0;
  padding: 0; ***REMOVED***

ol {
  margin: 0;
  padding: 0; ***REMOVED***

p {
  padding: 0;
  margin: 0px 0px 5px 0px;
  margin: 0rem 0rem 0.3125rem 0rem; ***REMOVED***

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0px 0px 10px 0px;
  margin: 0rem 0rem 0.625rem 0rem;
  font-weight: normal; ***REMOVED***

fieldset {
  border: none;
  margin: 0;
  padding: 0; ***REMOVED***

button {
  cursor: pointer; ***REMOVED***

*,
*:after,
*:before {
  box-sizing: border-box; ***REMOVED***

.mh500 {
  min-height: 500px; ***REMOVED***

.mh1000 {
  min-height: 1000px; ***REMOVED***

.mh800 {
  min-height: 800px; ***REMOVED***

.mh700 {
  min-height: 700px; ***REMOVED***

.mh600 {
  min-height: 600px; ***REMOVED***

.mh300 {
  min-height: 300px; ***REMOVED***

.bg1 {
  background: #7FDBFF; ***REMOVED***

.bg2 {
  background: #0074D9; ***REMOVED***

.bg3 {
  background: #FFDC00; ***REMOVED***

.bg4 {
  background: #ddd; ***REMOVED***

a:hover {
  color: #FF851B; ***REMOVED***

.cf {
  *zoom: 1; ***REMOVED***
.cf:before, .cf:after {
  content: "";
  display: table; ***REMOVED***
.cf:after {
  clear: both; ***REMOVED***

body {
  background: #f6f8f9; ***REMOVED***

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  position: relative; ***REMOVED***
  .container:after {
    content: " ";
    display: block;
    clear: both; ***REMOVED***

.bodyWr {
  position: relative; ***REMOVED***

.menu {
  position: absolute;
  width: 195px; ***REMOVED***
  @media only screen and (max-width: 600px) {
    .menu {
      transition: all 300ms;
      left: -200px;
      top: 5px;
      border: none; ***REMOVED*** ***REMOVED***
  @media only screen and (max-width: 600px) {
    .menu {
      width: 200px; ***REMOVED*** ***REMOVED***

.content {
  padding-left: 200px; ***REMOVED***
  @media only screen and (max-width: 600px) {
    .content {
      padding: 0px; ***REMOVED*** ***REMOVED***
  @media only screen and (min-width: 900px) {
    .content {
      padding-right: 200px; ***REMOVED*** ***REMOVED***

.side {
  display: none;
  width: 200px; ***REMOVED***
  @media only screen and (min-width: 900px) {
    .side {
      display: block;
      position: absolute;
      top: 0;
      right: 0; ***REMOVED*** ***REMOVED***

.containerBor {
  background: white; ***REMOVED***
  @media only screen and (min-width: 600px) {
    .containerBor {
      border: 1px solid #d2e5f3; ***REMOVED*** ***REMOVED***
  @media only screen and (min-width: 888px) {
    .containerBor {
      border-radius: 10px 10px 0 0;
      box-shadow: 0px 5px 5px 0px rgba(23, 22, 23, 0.3); ***REMOVED*** ***REMOVED***
  .containerBor {
    *zoom: 1; ***REMOVED***
  .containerBor:before, .containerBor:after {
    content: "";
    display: table; ***REMOVED***
  .containerBor:after {
    clear: both; ***REMOVED***

.headWr {
  height: 38px; ***REMOVED***
  @media only screen and (max-width: 600px) {
    .headWr {
      border-bottom: 1px solid #ddd; ***REMOVED*** ***REMOVED***
  @media only screen and (min-width: 600px) {
    .headWr {
      background: #f6f8f9;
      min-height: 38px; ***REMOVED*** ***REMOVED***
  @media only screen and (min-width: 700px) {
    .headWr {
      min-height: 70px; ***REMOVED*** ***REMOVED***
  .headWr img.logo {
    height: 40px;
    width: 200px;
    position: absolute; ***REMOVED***
    @media only screen and (max-width: 600px) {
      .headWr img.logo {
        margin: auto;
        top: 7px;
        left: 0;
        right: 0;
        bottom: 0; ***REMOVED*** ***REMOVED***
    @media only screen and (min-width: 700px) {
      .headWr img.logo {
        position: absolute;
        left: 0px;
        top: 33px; ***REMOVED*** ***REMOVED***
    @media only screen and (min-width: 600px) {
      .headWr img.logo {
        position: absolute; ***REMOVED*** ***REMOVED***
  .headWr span.slogan {
    position: absolute;
    left: 200px;
    top: 20px;
    color: #666;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    display: none; ***REMOVED***
    @media only screen and (min-width: 700px) {
      .headWr span.slogan {
        top: 53px;
        display: block; ***REMOVED*** ***REMOVED***
    @media only screen and (min-width: 600px) {
      .headWr span.slogan {
        display: block; ***REMOVED*** ***REMOVED***
  .headWr span.orange {
    color: #FF851B !important; ***REMOVED***
  .headWr .free-logoWr {
    position: relative;
    margin-left: 520px;
    padding-top: 30px; ***REMOVED***
  .headWr img.free-logo {
    height: 40px;
    width: 40px;
    position: absolute;
    display: none; ***REMOVED***
    @media only screen and (min-width: 700px) {
      .headWr img.free-logo {
        display: block; ***REMOVED*** ***REMOVED***
  .headWr img.lookingfor {
    height: 25px;
    position: absolute;
    top: 10px;
    display: none; ***REMOVED***
    @media only screen and (min-width: 700px) {
      .headWr img.lookingfor {
        display: block; ***REMOVED*** ***REMOVED***
  .headWr .shareWr {
    float: right;
    position: relative; ***REMOVED***
  .headWr img.share {
    position: absolute;
    height: 60px;
    top: -20px;
    right: 0;
    display: none; ***REMOVED***
    @media only screen and (min-width: 888px) {
      .headWr img.share {
        display: block; ***REMOVED*** ***REMOVED***

.footer .container {
  background: white;
  box-shadow: 0px 5px 5px 0px rgba(23, 22, 23, 0.3);
  border: 1px solid #d2e5f3;
  padding: 10px;
  text-align: right; ***REMOVED***

.menu-icon {
  background: #eee;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: 999;
  border: 1px solid #999; ***REMOVED***
  @media only screen and (min-width: 600px) {
    .menu-icon {
      display: none; ***REMOVED*** ***REMOVED***
  .menu-icon::after {
    content: 'Menu'; ***REMOVED***

.menu-icon.menu-active {
  position: fixed;
  top: 3px;
  left: 5px; ***REMOVED***
  .menu-icon.menu-active::after {
    content: 'Close'; ***REMOVED***

@media only screen and (max-width: 600px) {
  .menu.menu-active {
    transition: all 300ms;
    transform: translateX(200px);
    border: none;
    box-shadow: none; ***REMOVED*** ***REMOVED***

.content.menu-active {
  transition: all 300ms; ***REMOVED***
  @media only screen and (max-width: 600px) {
    .content.menu-active {
      transition: all 300ms;
      transform: translateX(200px); ***REMOVED*** ***REMOVED***

.menu {
  padding: 0px 0 5px 5px; ***REMOVED***
  .menu .level1 {
    font-size: 13px;
    font-weight: bold;
    color: #333;
    font-family: Verdana, Arial, sans-serif; ***REMOVED***
    .menu .level1 a:hover {
      color: #FF851B !important; ***REMOVED***
    .menu .level1 > li > a {
      color: #444;
      padding: 0px 5px 5px 5px;
      display: inline-block; ***REMOVED***
      .menu .level1 > li > a:visited {
        color: #444; ***REMOVED***
  .menu .level2, .menu .level3 {
    padding-left: 10px;
    font-weight: normal;
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px; ***REMOVED***
    .menu .level2 > li > a, .menu .level3 > li > a {
      color: #555;
      padding: 5px 0;
      display: inline-block; ***REMOVED***
      .menu .level2 > li > a:visited, .menu .level3 > li > a:visited {
        color: #555; ***REMOVED***
  .menu .level2 a::before, .menu .level3 a::before {
    content: "» ";
    color: black;
    font-weight: bold; ***REMOVED***

.menu .norm {
  display: inline-block;
  font-size: 7px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5); ***REMOVED***

.login, .login-popup {
  min-height: 107px;
  padding-top: 5px; ***REMOVED***
  .login .login-box, .login-popup .login-box {
    background: #fff;
    padding: 10px 20px 10px 20px;
    text-align: center;
    letter-spacing: 1px;
    position: relative; ***REMOVED***
    .login .login-box > div, .login-popup .login-box > div {
      font-size: 12px;
      margin-bottom: 5px; ***REMOVED***
      .login .login-box > div a, .login-popup .login-box > div a {
        color: #666;
        text-decoration: none; ***REMOVED***
        .login .login-box > div a:visited, .login-popup .login-box > div a:visited {
          color: #666; ***REMOVED***
  .login .login-box h2, .login-popup .login-box h2 {
    padding: 0;
    text-transform: uppercase;
    color: #4688F1;
    font-size: 1em; ***REMOVED***
  .login .social-button, .login-popup .social-button {
    font-size: 10px;
    font-weight: bold;
    background-position: 25px 0px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    border-radius: 3px;
    margin: 3px auto;
    outline: white none 0px;
    padding-left: 20%;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    transition: all .3s ease; ***REMOVED***
  .login #facebook-connect, .login-popup #facebook-connect {
    background: white url("http://eswarasai.com/projects/social-buttons/img/facebook.svg") no-repeat scroll 5px 0px/25px 25px padding-box border-box;
    border: 1px solid #3c5a9a; ***REMOVED***
  .login #facebook-connect:hover, .login-popup #facebook-connect:hover {
    border-color: #3c5a9a;
    background: #3c5a9a url("http://eswarasai.com/projects/social-buttons/img/facebook-white.svg") no-repeat scroll 5px 0px/25px 25px padding-box border-box;
    transition: all .3s ease-out; ***REMOVED***
  .login #facebook-connect span, .login-popup #facebook-connect span {
    box-sizing: border-box;
    color: #3c5a9a;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none white;
    outline: white none 0px;
    transition: all .3s ease; ***REMOVED***
  .login #facebook-connect:hover span, .login-popup #facebook-connect:hover span {
    color: #FFF;
    transition: all .3s ease; ***REMOVED***
  .login #google-connect, .login-popup #google-connect {
    background: white url("http://eswarasai.com/projects/social-buttons/img/google-plus.png") no-repeat scroll 8px 0px/30px 25px padding-box border-box;
    border: 1px solid #dc4a3d; ***REMOVED***
  .login #google-connect:hover, .login-popup #google-connect:hover {
    border-color: #dc4a3d;
    background: #dc4a3d url("http://eswarasai.com/projects/social-buttons/img/google-plus-white.png") no-repeat scroll 8px 0px/30px 25px padding-box border-box;
    transition: all .3s ease-out; ***REMOVED***
  .login #google-connect span, .login-popup #google-connect span {
    box-sizing: border-box;
    color: #dc4a3d;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none #dc4a3d;
    outline: white none 0px;
    transition: all .3s ease; ***REMOVED***
  .login #google-connect:hover span, .login-popup #google-connect:hover span {
    color: #FFF;
    transition: all .3s ease; ***REMOVED***

.list-menu {
  margin-top: 10px; ***REMOVED***

.userInfo .top {
  width: 100%;
  height: 70px;
  position: relative; ***REMOVED***
  .userInfo .top .left {
    margin: 5px;
    padding: 5px;
    width: 60px;
    height: 60px;
    position: absolute;
    border: 1px solid #ddd; ***REMOVED***
  .userInfo .top .right {
    padding: 5px;
    padding-left: 70px;
    text-align: center; ***REMOVED***
    .userInfo .top .right div {
      font-style: italic;
      font-weight: lighter;
      color: #666; ***REMOVED***
    .userInfo .top .right span {
      font-weight: bold;
      color: #0074D9; ***REMOVED***
.userInfo .bot {
  width: 100%;
  height: 37px;
  text-align: right;
  font-weight: bold;
  padding: 10px;
  text-decoration: underline; ***REMOVED***
.userInfo a {
  text-decoration: none;
  color: #333; ***REMOVED***
  .userInfo a:visited {
    color: #333; ***REMOVED***
  .userInfo a:hover {
    color: #FF851B; ***REMOVED***

.side {
  padding: 0 5px 0 5px; ***REMOVED***

.search-field-container {
  position: relative; ***REMOVED***

.search-field {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0; ***REMOVED***

.search-field-container {
  display: block;
  float: left;
  width: 100%;
  height: 35px; ***REMOVED***

.search-form {
  max-width: 300px;
  margin: 10px auto 20px auto; ***REMOVED***

.search-field {
  background-color: #fff;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px; ***REMOVED***

.menubar {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 2px 2px 0 2px;
  border-radius: 10px 0 10px 0;
  background: #FF851B;
  border-bottom: 2px solid #FF851B;
  text-align: center; ***REMOVED***

.side-article {
  word-wrap: break-word; ***REMOVED***
  .side-article a {
    color: #666;
    font-weight: bolder;
    font-size: 12px; ***REMOVED***

ul.side-article {
  list-style: circle;
  padding-left: 15px; ***REMOVED***
  ul.side-article li {
    margin: 5px 0;
    border-bottom: 1px dashed rgba(100, 100, 100, 0.5);
    padding-bottom: 5px; ***REMOVED***

.content {
  width: 100%;
  transition: all 300ms; ***REMOVED***
  @media only screen and (max-width: 600px) {
    .content {
      border-left: 1px solid #d2e5f3;
      position: relative;
      right: 0;
      transition: all 300ms;
      top: 5px;
      margin-left: 5px; ***REMOVED*** ***REMOVED***

.block {
  margin-top: 15px;
  min-height: 230px;
  border-bottom: dashed 1px #d2e5f3; ***REMOVED***

.main-item .title {
  color: #5f9eb3;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  margin-bottom: 7px;
  min-height: 40px; ***REMOVED***
  .main-item .title:hover {
    color: #0E6AAF; ***REMOVED***

.meta-data {
  margin-bottom: 7px; ***REMOVED***
  .meta-data > span::after {
    content: ' |';
    margin-right: 3px; ***REMOVED***
  .meta-data > span:last-child::after {
    content: ''; ***REMOVED***
  .meta-data *::before {
    font-size: 11px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.4); ***REMOVED***
  .meta-data * {
    font-size: 13px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6); ***REMOVED***
    .meta-data *:hover {
      color: #000; ***REMOVED***
  .meta-data:hover *::before {
    color: rgba(0, 0, 0, 0.8); ***REMOVED***
  .meta-data:hover * {
    color: #000; ***REMOVED***
  .meta-data .upload::before {
    content: "Đăng bởi: "; ***REMOVED***
  .meta-data .category::before {
    content: "Thuộc: "; ***REMOVED***
  .meta-data .time::before {
    content: "Ngày đăng: "; ***REMOVED***
  .meta-data .category span::after {
    content: ', '; ***REMOVED***
  .meta-data .category span:last-child::after {
    content: ''; ***REMOVED***
  .meta-data .category span {
    margin-left: 3px; ***REMOVED***
    .meta-data .category span:hover {
      color: #FF851B !important; ***REMOVED***
  .meta-data .category a {
    text-decoration: none; ***REMOVED***

.info img {
  float: left;
  margin: 5px; ***REMOVED***

.info .description {
  font-size: 1em;
  line-height: 1.5em;
  color: #333; ***REMOVED***

.sort {
  padding: 5px; ***REMOVED***
  .sort a {
    text-decoration: none; ***REMOVED***
  .sort a::after {
    content: " | "; ***REMOVED***
  .sort a:last-child::after {
    content: ""; ***REMOVED***

.roundbox {
  border-radius: 10px 10px 0 0;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
  color: #333; ***REMOVED***
  .roundbox a:visited {
    color: #333; ***REMOVED***
  .roundbox span {
    color: #666;
    font-weight: normal;
    font-style: italic; ***REMOVED***

.main {
  padding: 10px 15px 30px 15px; ***REMOVED***
  @media only screen and (min-width: 600px) {
    .main {
      border-left: 1px solid #d2e5f3;
      border-right: 1px solid #d2e5f3;
      box-shadow: inset 0px -3px 7px 0px rgba(43, 38, 43, 0.1); ***REMOVED*** ***REMOVED***

.main-item .title {
  position: relative; ***REMOVED***
  .main-item .title .t-left {
    word-wrap: break-word;
    padding-right: 70px; ***REMOVED***
  .main-item .title .t-right {
    position: absolute;
    top: 0;
    right: 0; ***REMOVED***

.t-right {
  border-radius: 10px 10px 0 0;
  border: 1px solid rgba(100, 100, 100, 0.3);
  width: 70px;
  text-align: center; ***REMOVED***
  .t-right .rate-nav {
    background-color: #FF851B;
    color: #fff;
    border-radius: 10px 10px 0 0;
    font-size: 12px; ***REMOVED***
  .t-right .rate-num {
    color: #FF851B;
    font-size: 22px; ***REMOVED***
  .t-right .rate-button {
    background: #FF851B;
    color: white;
    font-weight: bold;
    padding: 2px;
    width: 100%; ***REMOVED***

hr.style1 {
  border-top: 1px solid #ddd; ***REMOVED***

hr.style2 {
  border-top: 3px double #8c8b8b; ***REMOVED***

hr.style3 {
  border-top: 1px dashed #8c8b8b; ***REMOVED***

hr.style4 {
  border-top: 1px dotted #8c8b8b; ***REMOVED***

hr.style5 {
  background-color: #fff;
  border-top: 2px dashed #8c8b8b; ***REMOVED***

hr.style6 {
  background-color: #fff;
  border-top: 2px dotted #8c8b8b; ***REMOVED***

hr.style7 {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff; ***REMOVED***

hr.style8 {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff; ***REMOVED***

hr.style8:after {
  content: '';
  display: block;
  margin-top: 2px;
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff; ***REMOVED***

hr.style9 {
  border-top: 1px dashed #8c8b8b;
  border-bottom: 1px dashed #fff; ***REMOVED***

hr.style10 {
  border-top: 1px dotted #8c8b8b;
  border-bottom: 1px dotted #fff; ***REMOVED***

hr.style11 {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0; ***REMOVED***

hr.style12 {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
  border: 0; ***REMOVED***

hr.style13 {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset; ***REMOVED***

hr.style14 {
  border: 0;
  height: 1px;
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); ***REMOVED***

hr.style15 {
  border-top: 4px double #8c8b8b;
  text-align: center; ***REMOVED***

hr.style15:after {
  content: '\002665';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px; ***REMOVED***

hr.style16 {
  border-top: 1px dashed #8c8b8b; ***REMOVED***

hr.style16:after {
  content: '\002702';
  display: inline-block;
  position: relative;
  top: -12px;
  left: 40px;
  padding: 0 3px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px; ***REMOVED***

hr.style17 {
  border-top: 1px solid #8c8b8b;
  text-align: center; ***REMOVED***

hr.style17:after {
  content: '§';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px;
  transform: rotate(60deg); ***REMOVED***

hr.style18 {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px; ***REMOVED***

hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px; ***REMOVED***

.login-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(90, 90, 90, 0.8); ***REMOVED***
  .login-popup .wrapper {
    width: 100%; ***REMOVED***
    .login-popup .wrapper-content {
      position: relative;
      width: 450px;
      margin: 100px auto;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 20px; ***REMOVED***
      @media (max-width: 400px) {
        .login-popup .wrapper-content .wrapper-content {
          width: 95%; ***REMOVED*** ***REMOVED***
  .login-popup .label {
    margin-top: 10px;
    width: 120px;
    display: inline-block;
    text-align: right; ***REMOVED***
    .login-popup .label:after {
      content: "\00a0"; ***REMOVED***
    @media only screen and (max-width: 600px) {
      .login-popup .label {
        width: 60px;
        font-size: 9px; ***REMOVED*** ***REMOVED***
  .login-popup .other {
    margin-top: 5px; ***REMOVED***
    .login-popup .other a {
      color: #333;
      margin-right: 10px; ***REMOVED***
  .login-popup h3 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #FF851B; ***REMOVED***
  .login-popup input[type="text"], .login-popup input[type="email"], .login-popup input[type="password"] {
    padding: 10px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s; ***REMOVED***
  .login-popup input[type="text"]:focus,
  .login-popup input[type="text"].focus,
  .login-popup input[type="email"]:focus,
  .login-popup input[type="email"].focus,
  .login-popup input[type="password"]:focus,
  .login-popup input[type="password"].focus {
    box-shadow: inset 1px 1px 2px 0 #c9c9c9; ***REMOVED***
  .login-popup .wrapper-content {
    z-index: 999; ***REMOVED***

.breadcrumb {
  font-size: 0.9em; ***REMOVED***

.postWr .postTitle {
  margin: 10px; ***REMOVED***
.postWr h1 {
  color: #0E6AAF;
  font-size: 24px;
  font-weight: bold; ***REMOVED***
.postWr .postInfo {
  min-height: 155px; ***REMOVED***
  .postWr .postInfo img {
    float: left; ***REMOVED***
  .postWr .postInfo .t-left {
    padding-right: 90px; ***REMOVED***
  .postWr .postInfo .t-right {
    width: 90px;
    float: right; ***REMOVED***
.postWr .postContent {
  margin-top: 20px; ***REMOVED***

.breadcrumb a {
  font-style: italic;
  color: #5f9eb3;
  text-decoration: none; ***REMOVED***
  .breadcrumb a:hover {
    text-decoration: underline;
    color: #FF851B !important; ***REMOVED***
  .breadcrumb a:visited {
    color: #5f9eb3; ***REMOVED***

.postContent, #render {
  color: #444444;
  line-height: 1;
  max-width: 960px;
  /* Code below this line is copyright Twitter Inc. */
  /* override default chrome & firefox settings */
  /* grey out placeholders */
  /* buttons */ ***REMOVED***
  .postContent h1, .postContent h2, .postContent h3, .postContent h4, #render h1, #render h2, #render h3, #render h4 {
    color: #111111;
    font-weight: 400; ***REMOVED***
  .postContent h1, .postContent h2, .postContent h3, .postContent h4, .postContent h5, .postContent p, #render h1, #render h2, #render h3, #render h4, #render h5, #render p {
    margin-bottom: 24px;
    padding: 0; ***REMOVED***
  .postContent h1, #render h1 {
    font-size: 48px; ***REMOVED***
  .postContent h2, #render h2 {
    font-size: 36px;
    /* The bottom margin is small. It's designed to be used with gray meta text
     * below a post title. */
    margin: 24px 0 6px; ***REMOVED***
  .postContent h3, #render h3 {
    font-size: 24px; ***REMOVED***
  .postContent h4, #render h4 {
    font-size: 21px; ***REMOVED***
  .postContent h5, #render h5 {
    font-size: 18px; ***REMOVED***
  .postContent a, #render a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline; ***REMOVED***
  .postContent a:hover, #render a:hover {
    text-decoration: none;
    color: #ff6600; ***REMOVED***
  .postContent a:visited, #render a:visited {
    color: purple; ***REMOVED***
  .postContent ul, .postContent ol, #render ul, #render ol {
    padding: 0;
    margin: 0; ***REMOVED***
  .postContent li, #render li {
    line-height: 24px; ***REMOVED***
  .postContent li ul, .postContent li ul, #render li ul, #render li ul {
    margin-left: 24px; ***REMOVED***
  .postContent p, .postContent ul, .postContent ol, #render p, #render ul, #render ol {
    font-size: 16px;
    line-height: 24px;
    max-width: 540px; ***REMOVED***
  .postContent pre, #render pre {
    padding: 0px 24px;
    max-width: 800px;
    white-space: pre-wrap; ***REMOVED***
  .postContent code, #render code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px; ***REMOVED***
  .postContent aside, #render aside {
    display: block;
    float: right;
    width: 390px; ***REMOVED***
  .postContent blockquote, #render blockquote {
    border-left: .5em solid #eee;
    padding: 0 2em;
    margin-left: 0;
    max-width: 476px; ***REMOVED***
  .postContent blockquote cite, #render blockquote cite {
    font-size: 14px;
    line-height: 20px;
    color: #bfbfbf; ***REMOVED***
  .postContent blockquote cite:before, #render blockquote cite:before {
    content: '\2014 \00A0'; ***REMOVED***
  .postContent blockquote p, #render blockquote p {
    color: #666;
    max-width: 460px; ***REMOVED***
  .postContent hr, #render hr {
    width: 540px;
    text-align: left;
    margin: 0 auto 0 0;
    color: #999; ***REMOVED***
  .postContent button,
  .postContent input,
  .postContent select,
  .postContent textarea, #render button,
  #render input,
  #render select,
  #render textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle; ***REMOVED***
  .postContent button, .postContent input, #render button, #render input {
    line-height: normal;
    *overflow: visible; ***REMOVED***
  .postContent button::-moz-focus-inner, .postContent input::-moz-focus-inner, #render button::-moz-focus-inner, #render input::-moz-focus-inner {
    border: 0;
    padding: 0; ***REMOVED***
  .postContent button,
  .postContent input[type="button"],
  .postContent input[type="reset"],
  .postContent input[type="submit"], #render button,
  #render input[type="button"],
  #render input[type="reset"],
  #render input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button; ***REMOVED***
  .postContent input[type=checkbox], .postContent input[type=radio], #render input[type=checkbox], #render input[type=radio] {
    cursor: pointer; ***REMOVED***
  .postContent input:not([type="image"]), .postContent textarea, #render input:not([type="image"]), #render textarea {
    box-sizing: content-box; ***REMOVED***
  .postContent input[type="search"], #render input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box; ***REMOVED***
  .postContent input[type="search"]::-webkit-search-decoration, #render input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; ***REMOVED***
  .postContent label,
  .postContent input,
  .postContent select,
  .postContent textarea, #render label,
  #render input,
  #render select,
  #render textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 18px; ***REMOVED***
  .postContent input[type=checkbox], .postContent input[type=radio], #render input[type=checkbox], #render input[type=radio] {
    cursor: pointer;
    margin-bottom: 0; ***REMOVED***
  .postContent input[type=text],
  .postContent input[type=password],
  .postContent textarea,
  .postContent select, #render input[type=text],
  #render input[type=password],
  #render textarea,
  #render select {
    display: inline-block;
    width: 210px;
    padding: 4px;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    height: 18px;
    color: #808080;
    border: 1px solid #ccc;
    border-radius: 3px; ***REMOVED***
  .postContent select, .postContent input[type=file], #render select, #render input[type=file] {
    height: 27px;
    line-height: 27px; ***REMOVED***
  .postContent textarea, #render textarea {
    height: auto; ***REMOVED***
  .postContent :-moz-placeholder, #render :-moz-placeholder {
    color: #bfbfbf; ***REMOVED***
  .postContent ::-webkit-input-placeholder, #render ::-webkit-input-placeholder {
    color: #bfbfbf; ***REMOVED***
  .postContent input[type=text],
  .postContent input[type=password],
  .postContent select,
  .postContent textarea, #render input[type=text],
  #render input[type=password],
  #render select,
  #render textarea {
    transition: border linear 0.2s, box-shadow linear 0.2s;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); ***REMOVED***
  .postContent input[type=text]:focus, .postContent input[type=password]:focus, .postContent textarea:focus, #render input[type=text]:focus, #render input[type=password]:focus, #render textarea:focus {
    outline: none;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); ***REMOVED***
  .postContent button, #render button {
    display: inline-block;
    padding: 4px 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #0064cd;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, left, right);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #004b9a;
    border-bottom-color: #003f81;
    transition: 0.1s linear all;
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); ***REMOVED***
  .postContent button:hover, #render button:hover {
    color: #fff;
    background-position: 0 -15px;
    text-decoration: none; ***REMOVED***
  .postContent button:active, #render button:active {
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); ***REMOVED***
  .postContent button::-moz-focus-inner, #render button::-moz-focus-inner {
    padding: 0;
    border: 0; ***REMOVED***

#comment .notUser {
  color: red; ***REMOVED***
#comment .isUser {
  color: #0074D9; ***REMOVED***
#comment .icon {
  height: 50px;
  width: 50px;
  border-radius: 7px; ***REMOVED***
#comment span.poster {
  float: left;
  width: 80px;
  text-align: center;
  font-size: 12px;
  height: 75px;
  padding-top: 5px;
  padding-right: 5px; ***REMOVED***
#comment span.info {
  display: block;
  border-bottom: 1px solid #ddd;
  margin: -4px 0px 3px 0px;
  font-size: 13px;
  font-style: italic; ***REMOVED***
#comment span.buttons {
  position: absolute;
  right: 20px; ***REMOVED***
#comment .comment {
  white-space: pre-wrap;
  position: relative;
  font-size: 14px;
  color: #333;
  min-height: 77px;
  padding: 5px;
  margin: 0px auto 15px 80px;
  background: #fff;
  border-radius: 5px 5px 10px 5px;
  border: #bbb solid 1px;
  border-width: 1px 1px 3px 1px; ***REMOVED***
#comment .comment::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 6px 10px 3px 0px;
  border-color: transparent #fff;
  margin-top: -8px;
  left: -10px;
  top: 28px; ***REMOVED***
#comment .comment::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 10px 4px 0px;
  border-color: transparent #bbb;
  display: block;
  margin-top: -8px;
  left: -10px;
  top: 28px; ***REMOVED***
#comment .comment:nth-of-type(even) {
  background: #eee;
  border-color: #999; ***REMOVED***
#comment .comment:nth-of-type(even) span.info {
  border-color: #ccc; ***REMOVED***
#comment .comment:nth-of-type(even)::after {
  border-color: transparent #eee; ***REMOVED***
#comment .comment:nth-of-type(even)::before {
  border-color: transparent #999; ***REMOVED***
#comment .poster:nth-of-type(even) {
  background: #ddd;
  border-color: #aaa; ***REMOVED***
#comment .commentBox textarea {
  min-height: 50px; ***REMOVED***
#comment .commentBox textarea, #comment .commentBox textarea:focus {
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #ddd; ***REMOVED***
#comment .commentBox .submit {
  position: absolute;
  right: 20px;
  bottom: 0px;
  padding: 0 5px 0 5px; ***REMOVED***
  #comment .commentBox .submit a {
    text-decoration: none;
    color: #666; ***REMOVED***
#comment .userName {
  color: #0074D9; ***REMOVED***

.loading {
  min-height: 800px; ***REMOVED***

.loader {
  position: absolute;
  top: 150px;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  perspective: 800px; ***REMOVED***

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%; ***REMOVED***

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #0074D9; ***REMOVED***

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #0074D9; ***REMOVED***

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #0074D9; ***REMOVED***

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); ***REMOVED***
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); ***REMOVED*** ***REMOVED***
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); ***REMOVED***
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); ***REMOVED*** ***REMOVED***
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); ***REMOVED***
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); ***REMOVED*** ***REMOVED***
