.h-container {
  width: 1000px;
  margin: 0 auto;
}

.h-left {
  float: right;
  width: 300px;
}
.h-right {
  float: right;
  width: 700px;
  min-height: 30px;
}

.h-top {
  height: 70px;
}

.h-bot {
  height: 40px;
}

.search {
  padding-top: 25px;
  height: 20px;
  float: right;
  vertical-align: middle;

  input {
    border: 1px solid #CCCCCC;
    placeholder : "First name";
    width: 300px;
    height: 35px;
    color: #CCCCCC;
    background-repeat: no-repeat;
    padding: 0px 50px 0px 10px;
    margin: 0;

    display: inline-block;
    text-align: start;
    &:focus {
      border: 1px solid #0c9adc;
      color: #333;
    }
  }
  .searchWr{
    position: relative;
    background: blue;
    float: left;
  }

  .search-icon {
    position: absolute;
    border-left: 1px solid #ddd;
    border-right: none;
    top: 7px;
    right: 0;
    width: 40px;
    height: 21px;
    //background: #000;
    cursor: pointer;
  }

  .cartWr {
    float: left;
    height: 35px;
    width: 120px;
    display: inline;
    border-left: none;
    background: #0c9adc;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    .cart-icon {
      float: left;
      height: 35px;
      width: 35px;
    }

    .number-items {
      float: left;
      line-height:35px;
      height: 35px;
      padding: 0 5px 0 10px;
      vertical-align: middle;
      align-items: center;
    }
    &:hover {
      background: $hover-link-color;
    }
  }

  .userWr{
    float: left;
    width: 35px;
    height: 35px;
    margin-left: 5px;
  }

}

.navMenu{
  height: 40px;
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    float: left;
    a {
      font-size: 15px;
      //font: normal 20px 'UTMCafetaRegular';
      //font-family: Cafeta;
      font-weight: bold;
      font-style: italic;
      height: 40px;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      align-items: center;

      &:hover {
        background: $top-menu-hover-active-background;
        color: $top-menu-hover-active-color;
      }
    }
  }
  .active {
    background: $top-menu-hover-active-background;
    color: $top-menu-hover-active-color;
  }
}



