.productWr, .categoryWr {
  margin-top: 20px;
  h3 {
    color: $active-menu-color;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    font-style: italic;
  }
}

.listProduct {
  border: 1px solid #FF4136;
  max-height: 540px;
  padding-left: 7px;
}


.itemWr {
  //z-index: 1;
  position: relative;
  width: 140px;
  height: 150px;
  float: left;
  margin-top:10px;
  margin-left: 5px;
  border: 1px solid #fff;
  img {
    width:138px;
    height: 100px;
    border: 1px solid #eee;
  }
  &:hover {
    @extend .sa;
    border: 1px solid #aaa;
    border-radius: 5px 0 0 5px;
    img {
      border: 1px solid transparent;
      border-bottom: 1px solid #ddd;
    }

    .side-info {
      display: block;
    }
  }

}

.side-info {
  @extend .sa;
  z-index: 999;
  position: absolute;
  border-radius: 0 5px 5px 0;
  top: -1px;
  left: 138px;
  width: 200px;
  height: 150px;
  border: 1px solid #aaa;
  display: none;
  background: #fff;
  padding: 5px;
  overflow: hidden;
  //overflow-y: scroll;
  //overflow-x: hidden;
}

.info-item {
  height: 48px;
  padding: 5px;
  .name-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;

    margin: 0;
    padding: 0;
    font-size: 13px;
    color: $active-menu-color;
    font-weight: bolder;
  }
  .info-extra-item {
    margin: 5px 0 0 0;
    span {
      font-size: 12px;
      color: #aaa;
      display: inline;
    }
    div.price-item {
      font-size: 14px;
      color: #FF4136;
      font-weight: bold;
      display: inline;
      margin-left: 5px;
    }
  }


}








// SLIDER

.slider {
  padding: 10px;
  overflow: hidden;
}

.sliderWr{

}

.slider-img {
  float: left;
  margin: 10px 10px 0 20px;
  img {
    width: 230px;
    height: 200px;
  }
}

.slider-text{
  float: left;
  width: 300px;
  .slider-header {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.noProduct {
  color: red;
  text-align: center;
  font-weight : bold;
  font-size: 18px;
  margin-top: 30px;
}

.pageNav {
  margin-top: 20px;
  float: right;
  font-size: 16px;
  line-height: 20px;
  >* {
    margin-left: 5px;
  }
  input {
    text-align: center;
    float: left;
    width: 20px;
  }
  div {
    float: left;
  }

  .pagePrev, .pageNext {
    width: 35px;
    padding: 0px 7px 0px 7px;
    cursor: pointer;
    &:hover {
      background: #ddd;
    }
  }
}