.notify {
  height: 240px;
  background: #fbf9f9;
  padding: 10px;
  margin-bottom: 20px;
}

.notify-header {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.saleWr{
  width: 180px;
  //margin-top: 30px;
  h3 {
    color: $active-menu-color;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    font-style: italic;
  }
}

.listSale {
  background: #fbf9f9;
  min-height: 700px;
}

.sale-info {
  float: left;
  width: 100px;
  margin: 5px;
  .sale-name {
    color: $active-menu-color;
    font-size: 12px;
    font-weight: bold;
  }
}

.sale-img {
  float: left;
  width: 60px;
  margin: 5px 0 5px 0;
  img {
    width: 60px;
    height: 50px;
  }
  border: 1px solid #ddd;
}

.sale-price{
  color: #FF4136;
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
}

.old-price {
  text-decoration:line-through;
}