@(menu: String, categories: String, article: String, comments: String)(implicit user: Option[User],request: RequestHeader, messages: Messages)

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="/assets/stylesheets/style.min.css">

    </head>
    <body>

        <script >
            Window.urls = {***REMOVED***;
            Window.menu = @Html(menu);
            Window.categories = @Html(categories);
            Window.comments = @Html(comments);
            Window.article = @Html(article);
            @user match {
                case Some(user) => {
                    Window.user = {
                        "userID" : "@user.userID",
                        "avatarURL" : "@user.avatarURL",
                        "fullName" : "@user.fullName"
                  ***REMOVED***;
              ***REMOVED***
                case None => {

              ***REMOVED***
          ***REMOVED***
        </script>
        <div id="app"></div>
        @helper.CSRF.formField
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="/assets/lib/marked.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/assets/admin/js/libs/moment/moment.min.js"></script>
        <script src="/assets/lib/mithril.min.js"></script>
        <script src="/assets/js/app.js"></script>
    </body>
</html>