@(menu: String, categories: String, posts: String)(implicit user: Option[User], request: RequestHeader, messages: Messages)

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="/assets/stylesheets/style.min.css">

    </head>
    <body>
        <div id="fb-root"></div>
        <script>
        window.fbAsyncInit = function() {
            FB.init({
              appId      : '695740397243976',
              xfbml      : true,
              version    : 'v2.7'
          ***REMOVED***);
//            FB.XFBML.parse();
            console.log(" facebook inited")
       ***REMOVED***;

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;***REMOVED***
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
         ***REMOVED***(document, 'script', 'facebook-jssdk'));
        </script>
        <script >
            Window.menu = @Html(menu);
            Window.categories = @Html(categories);
            Window.posts = @Html(posts);
            @user match {
                case Some(user) => {
                    Window.user = {
                        "userID" : "@user.userID",
                        "avatarURL" : "@user.avatarURL",
                        "fullName" : "@user.fullName"
                  ***REMOVED***;
              ***REMOVED***
                case None => {

              ***REMOVED***
          ***REMOVED***
        </script>
        <div id="app"></div>
        @helper.CSRF.formField
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="/assets/lib/marked.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/assets/admin/js/libs/moment/moment.min.js"></script>
        <script src="/assets/lib/mithril.min.js"></script>
        <script src="/assets/js/app.js"></script>
    </body>
</html>