// File Name: _footer.scss
// Description: global footer styles
// Used by: Page.scss
// Dependencies:
// ------------------------------------------------------------

.footer .container {
  background: white;
  box-shadow: 0px 5px 5px 0px rgba(23,22,23,0.3);
  border: 1px solid $border-light-blue;
  padding: 10px;
  text-align: right;
}