// File Name: _header.scss
// Description: global header styles
// Used by: Page.scss
// Dependencies:
// ------------------------------------------------------------

.headWr {
  background: #f6f8f9;
  min-height: 70px;
  img.logo {
    height: 40px;
    width: 200px;
    position: absolute;
    left: 0px;
    top: 33px;
***REMOVED***
  span.slogan {
    position: absolute;
    left: 200px;
    top: 53px;
    color: $red;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
***REMOVED***
  .free-logoWr {
    position: relative;
    margin-left: 520px;
    padding-top: 30px;
***REMOVED***
  img.free-logo {
    height: 40px;
    width: 40px;
    position: absolute;
***REMOVED***
  img.lookingfor {
    height: 20px;
    position: absolute;
    top: 10px;
***REMOVED***
***REMOVED***