.breadcrumb {
  font-size: 0.9em;
}

.postWr {
  .postTitle {
    margin: 10px;
  }
  h1 {
    color: $title-color;
    font-size: 24px;
    font-weight: bold;
  }

  .postInfo {
    min-height: 155px;
    img {
      float: left;
    }
    .t-left{
      padding-right: 90px;
    }
    .t-right {
      width: 90px;
      float: right;
    }
  }

  .postContent {
    margin-top: 20px;
  }
}

.breadcrumb {
  a {
    font-style: italic;
    color: #5f9eb3;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: $orange !important;
    }
    &:visited {
      color: #5f9eb3;
    }
  }
}