.breadcrumb {
  font-size: 0.9em;
***REMOVED***

.postWr {
  .postTitle {
    margin: 10px;
***REMOVED***
  h1 {
    color: $title-color;
    font-size: 18px;
    font-weight: bold;
***REMOVED***

  .postInfo {
    img {
      float: left;
  ***REMOVED***
    .t-left{
      padding-right: 90px;
  ***REMOVED***
    .t-right {
      width: 90px;
      float: right;
  ***REMOVED***
***REMOVED***

  .postContent {
    margin-top: 20px;
***REMOVED***
***REMOVED***