.side {
  padding: 0 5px 0 5px;
***REMOVED***
.login {
  .login-box {
    background: #fff;
    padding: 20px 20px 10px 20px;
    text-align: center;
    letter-spacing: 1px;
    position: relative;

    >div {
      font-size: 12px;
      margin-bottom: 5px;
      a {
        color: #666;
        text-decoration: none;
        &:visited {
          color: #666;
      ***REMOVED***
    ***REMOVED***
  ***REMOVED***
***REMOVED***
  .login-box h2 {
    //margin: 20px 0 20px;
    padding: 0;
    text-transform: uppercase;
    color: #4688F1;
    font-size: 1em;
***REMOVED***

  .social-button {
    font-size: 10px;
    font-weight: bold;
    background-position: 25px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    border-radius: 3px;
    margin: 3px auto;
    outline: rgb(255, 255, 255) none 0px;
    padding-left: 20%;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
***REMOVED***

  #facebook-connect {
    background: rgb(255, 255, 255) url('http://eswarasai.com/projects/social-buttons/img/facebook.svg') no-repeat scroll 5px 0px / 25px 25px padding-box border-box;
    border: 1px solid rgb(60, 90, 154);
***REMOVED***

  #facebook-connect:hover {
    border-color: rgb(60, 90, 154);
    background: rgb(60, 90, 154) url('http://eswarasai.com/projects/social-buttons/img/facebook-white.svg') no-repeat scroll 5px 0px / 25px 25px padding-box border-box;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
***REMOVED***

  #facebook-connect span {
    box-sizing: border-box;
    color: rgb(60, 90, 154);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
***REMOVED***

  #facebook-connect:hover span {
    color: #FFF;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
***REMOVED***

  #google-connect {
    background: rgb(255, 255, 255) url('http://eswarasai.com/projects/social-buttons/img/google-plus.png') no-repeat scroll 8px 0px / 30px 25px padding-box border-box;
    border: 1px solid rgb(220, 74, 61);
***REMOVED***

  #google-connect:hover {
    border-color: rgb(220, 74, 61);
    background: rgb(220, 74, 61) url('http://eswarasai.com/projects/social-buttons/img/google-plus-white.png') no-repeat scroll 8px 0px / 30px 25px padding-box border-box;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
***REMOVED***

  #google-connect span {
    box-sizing: border-box;
    color: rgb(220, 74, 61);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(220, 74, 61);
    outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
***REMOVED***

  #google-connect:hover span {
    color: #FFF;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
***REMOVED***

***REMOVED***

.login-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(90, 90, 90, 0.5);
  .wrapper{
    width:100%;
    &-content{
      position:relative;
      width:30%;
      margin:100px auto;
      background: #35394a; /* Old browsers */
      background: -moz-linear-gradient(45deg,  #35394a 0%, #1f222e 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#35394a), color-stop(100%,#1f222e)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(45deg,  #35394a 0%,#1f222e 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(45deg,  #35394a 0%,#1f222e 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(45deg,  #35394a 0%,#1f222e 100%); /* IE10+ */
      background: linear-gradient(45deg,  #35394a 0%,#1f222e 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35394a', endColorstr='#1f222e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


      padding:20px 30px;
      button{
        width: 45%;
        padding: 11px 0 24px;
        outline:initial;
        background-color:#1da1f2;
        border-radius: 10px;
        color: #fff;
        border: 1px solid rgba(46, 46, 47, 0.72);
        &:first-child{
          background:#45619D;
      ***REMOVED***

        i{
          position:absolute;
      ***REMOVED***
    ***REMOVED***

  ***REMOVED***



    .hed-fb {
      display:inline;
      position:relative;

  ***REMOVED***
    h3{
      padding:10px 0 0;
      text-align:center;
      font-size:.9rem;
      letter-spacing:.1rem;


  ***REMOVED***
***REMOVED***

  .or-email{
    text-align:center;
    color:#fff;
    line-height:5rem;
    span{
      font-size:.9rem;
      letter-spacing: .1rem;
      font-weight:400;
  ***REMOVED***
***REMOVED***

  form {
    border: 0;
    display: block;
    width: 100%;
***REMOVED***
  input[type="text"], input[type="password"] {

    font-size: 1em;
    font-weight: 600;
    letter-spacing: .1rem;
    padding:0 5px;
    outline:none;
***REMOVED***
  .user-name{
    border-bottom: 1px solid #4d4d4d;
***REMOVED***

  .user-pasword{
    @extend .user-name;
    &:hover{
      background-color:#272a2c;
  ***REMOVED***
***REMOVED***
  .user-email{
    @extend .user-name;
    &:hover{
      background-color:#272a2c;
  ***REMOVED***
***REMOVED***



  input {
    border: 0;
    width: 100%;
    height: 68px;
    background-color: transparent;
    &:focus{
      outline:initial;
  ***REMOVED***
***REMOVED***



  .logout {
    display:inline-block;
    width: 30%;
    text-align: center;
    background-color: rgba(39, 42, 44, 0.23);
    padding: 2px;
    margin: 10px 0;
    border-radius: 50px;
    border: 2px solid #DC6180;
    color: #DC6180;
***REMOVED***

  input[type="submit"] {
    height: 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    color:#fff;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: .1rem;
    &:hover{
      background-color:#1a1c1d;
  ***REMOVED***
***REMOVED***

  .forgot-pass{
    font-size:.9rem;
    padding:0 5px 0 5px;
    color: #606479;
***REMOVED***

  @media (max-width:1170px) {
    .wrapper-content {
      width:70%;
  ***REMOVED***
***REMOVED***
***REMOVED***